name: Pgats-Automacao-Web

on:
  workflow_dispatch:

jobs:
  e2e-tests:
  
    runs-on: ubuntu-latest
   
    steps:
    
      # clone do projeto para máquina
      - uses: actions/checkout@v4

      # Define a versão do Node.js para garantir que npm exista
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # Conferir a versão instalada
      - name: Node version
        run: node --version

      - name: Instalando dependencias
        run: npm install

      - name: Executando os testes
        run: npx cypress run

      - uses: action/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: relatorios
          path: |
            cypress/reports
            cypress/screenshots
            cypress/videos
   

